.equipped{margin-top: 1em}
.tooltipp {
            position: relative;
            display: inline-block;
        }
.tooltipp .tooltiptext {
            visibility: hidden;
            width: 200px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            text-align:center;
        }

.tooltipp:hover .tooltiptext {
            visibility: visible;
        }

.panelGame{
    width: 1200px;
    height: 800px;
    border: 1px solid #123
}
/*#untisamset {
    position: relative;
    animation: myfirst .9s linear 0s 3 ;
    animation-play-state: paused;
}

/* Safari 4.0 - 8.0 */

/* Standard syntax */
/*@keyframes myfirst {
    0%   {opacity: 0;}

    100% {opacity: 0.9;}
}
@keyframes dame {
    0%   {opacity: 0;}

    50% {bottom: 300px;}
    100% {opacity: 0.9; bottom: 320px;}
}*/

/*#dame {
    position: relative;
    animation: dame.9s linear 0s 3 ;
    animation-play-state: paused;
}*/
