{% extends "app/layout.html" %}

{% block main_content %}
<div class="panel panel-success">
    <div class="panel-heading" style="text-align: center;">Register</div>
    <div class="panel-body">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <table>
        <form action="register" method="post">
            {% if error %}
            {{error}}
            {% endif %}
                <br>
                Username:<input type="text" name="username"><br>
                Password:<input type="password" name="password"><br>
                Password Again:<input type="password" name="password_again"><br>
                Email:<input type="email" name="email"><br>
                    <input type="submit" value="Register"><br>
        </form>
        </table>
        </div>
    </div>
</div>
{% endblock %}