<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<h1>Products list</h1>
    <a href="{% url 'createProduct' %}">Add product</a>
    <table class="table table-striped">
        {% for product in products %}
        <tr>
            <td><img src="media/{{ product.image }}" alt="NO IMAGE" width="100"></td>
            <td>{{ product.image }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category_id }}</td>
            <td>{{ product.create_at }}</td>
            <td><a href="{% url 'deleteProduct' product.id %}">Delete</a></td>
            <td><a href="{% url 'editProduct' product.id %}">Edit</a></td>
        </tr>
        {% endfor %}

    </table>
</div>

</body>
</html>