{% extends "app/layout.html" %}

{% block main_content %} 

    {% include 'modal/modalCharacter.html'%}
    {% include 'modal/modalVault.html'%}
    
    {% load i18n %}
    <a href="/shop"><button type="button">Shop</button></a>
    <h1>{% trans "welcome" %}</h1>
    {{message}}



    <div class="panelGame" id="panelGame" style="position: relative;overflow: hidden;">

        <img src="/media/game/bg2.jpg" style="width: 1500px;height: 1000px;position: absolute;top:-100px;z-index: -1;">
       <!--  <a href=""><img src="/media/characters/sanrio.jpg" style="width:250px;height: 250px;position: absolute;bottom: 100px;left:100px;display: block;"></a> -->
        <img src="/media/game/nhachinh.png" style="width:250px;height: 250px;position: absolute;bottom: 80px;left: 500px;display: block;z-index: 0;">
        <!-- <img src="/media/game/samset.jpg" style="display: block;z-index: 0;position: absolute;left: 0px;z-index: 0;width:1250px;height: 850px;opacity: 0" id="untisamset">
        <span id="dame" style="display: block;z-index: 0;position: absolute;left: 650px;bottom: 280px;z-index: 1;color: #87c540;font-size: 40px;opacity: 0;">967504</span> -->
    </div>
    <script>  
        $("img").click(function(){
            clearInterval(a);
            var a=setInterval(function(){

                $("#panelGame").append("<img src='/media/game/samset.jpg' style='display: block;z-index: 1;position: absolute;left: 0px;z-index: 0;width:1250px;height: 850px;opacity: 1' id='untisamset'>");
            $("#panelGame").append("<span id='dame' style='display: block;z-index: 0;position: absolute;left: 650px;bottom: 280px;z-index: 1;color: #87c540;font-size: 40px;opacity: 1;'>967504</span>");
            $("#untisamset").animate({opacity:"0"},{duration: 1000},{delay:0});
            $("#dame").animate({opacity:".1",bottom:"380px"},{duration: 1000});
            setTimeout(function(){
                $("#untisamset").remove();
                $("#dame").remove();
            }, 1000);
            },2000);
            
            
        });
        

        
        
    </script>



{% include 'facebookFanPage/facebookFanPage.html' %}
 
{% endblock %}
