{% extends "layout.html" %}

{% block main_content %} 
    <h1>Choose Category:</h1>
    <div class="col-md-5">
        <form action="">
            <select name="category_select" id="category_select">
                    <option>Choose</option>
                {% for category in categorys  %}
                     <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <select name="product_select" id="product_select">
                    <option>Choose</option>
            </select>
            <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
            <script>
                $(document).ready(function() {
                    var _token = $('input[name="_token"]').val();
                    $('#category_select').change(function() {
                        $('#product_select').empty();
                        var id = $(this).val();
                        $.ajax({
                            type: 'get',
                            url: "/ajaxCategory",
                            data: {'id' : id ,
                                '_token' : _token},
                            success: function(data){
                                console.log(data.product);
                                $.each(data.product, function(i, n) {
                                    $('#product_select').append("<option value="+n.id+">"+n.name+"</option>");
                                });
                            },
                            error: function(data){
                                alert("fail" + ' ' +data)
                            },
                        });
                    });
                });
            </script>
        </form>
    <h1>Products list</h1>
    <a href="{% url 'createProduct' %}">Add product</a>
    <table class="table table-striped">
        {% for product in products %}
        <tr>
            <td><img src="/media/{{ product.image }}" alt="NO IMAGE" width="100"></td>
            <td>{{ product.name }}</td>
            <td>{{ product.category.name }}</td>
            <td>{{ product.price }}</td>
            <td><a href="{% url 'buyProduct' product.id %}">Buy</a></td>
        </tr>
        {% endfor %}

    </table>
    </div>
    <div class="col-md-6">
        <h1>Character</h1>
        <table class="table table-striped">
            <tr>
                <td><img src="/media/{{ character.image }}" alt="NO IMAGE" width="100"></td>
                <td>{{ character.name }}<br>Level.{{ character.level }}</td>
            </tr>
            <tr>
                
                <td>Class none</td>
            </tr>
            <tr>
                <td>Hp</td>
                <td>{{ character.hp}}</td>
            </tr>
            <tr>
                <td>Acttack</td>
                <td>{{ character.acttack }}</td>
            </tr>
            <tr>
                <td>Armor</td>
                <td>{{ character.armor }}</td>
            </tr>
        </table>



        <button type="button" class="btn" data-toggle="modal" data-target="#myModal">Vault</button>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div style="height:530px;">
                        <div class="col-md-4">
                                <div style="width: 100px;height: 100px;margin: 25px;background: #123456");">
                                    <a href="#" data-toggle="tooltip" title="{{character.weaponOption.name}}+{{ character.weaponOption.HP}}HP+{{ character.weaponOption.Armor}}Armor
                                    {{ character.weaponOption.Acttack}}Acttack" >
                                <img src="/media/{{ character.foot.image }}" style="width: 100%;"></a>
                                </div>

                                <div style="width: 100px;height: 100px;margin: 25px;background: #123456");">
                                    <a href="#" data-toggle="tooltip" title="{{character.armourOp.name}}+{{ character.armour.HP}}HP+{{ character.armourOp.Armor}}Armor
                                    {{ character.armourOp.Acttack}}Acttack" >
                                <img src="/media/{{ character.armourOp.image }}" style="width: 100%;"></a>
                                </div>
                                <div style="width: 100px;height: 100px;margin: 25px;background: #123456");">
                                    <a href="/media/{{ character.weaponOp.image }}" data-toggle="tooltip" title="{{character.weaponOp.name}}+{{ character.weaponOp.HP}}HP+{{ character.weaponOp.Armor}}Armor
                                    {{ character.weaponOp.Acttack}}Acttack" >
                                <img src="" style="width: 100%;"></a>
                                </div>
                                <div style="width: 100px;height: 100px; margin: 25px;background: #123456");">
                                    <a href="#" data-toggle="tooltip" title="{{character.footOp.name}}+{{ character.footOp.HP}}HP+{{ character.footOp.Armor}}Armor
                                    {{ character.footOp.Acttack}}Acttack" >
                                <img src="/media/{{ character.footOp.image }}" style="width: 100%;height: 100%"></a>
                                </div>
                        </div>
                        <div class="col-md-7" style="margin-top: 25px;background: #123abc; height: 480px; padding: 0">
                            <img src="/media/{{ character.image }}" style="width: 100%">
                        </div>
                    </div>
                        <h1>Vault</h1>
                        <div class="thumbnail">
                        <p>Gold:{{ character.gold }}</p>
                            {% for vault in character.vaults %}
                            <div style="width: 75px;height:75px;display:inline-block;">
                                <a href="#" data-toggle="tooltip" title="{{ vault.product.name}}+{{ vault.product.HP}}HP+ {{ vault.product.Armor }}Armor
                                {{ vault.product.Acttack }}Acttack" >
                                <img src="/media/{{ vault.product.image }}" alt="NO IMAGE" style="width: 75px;height:75px;" class="img img-thumbnail"></a>
                            </div>
                            {% endfor %}
                        </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
        
    </div>

</div>

{% endblock %}