 <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1527092924008564',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div class="fb-like" data-href="https://www.facebook.com/FacebookforDevelopers/?fref=ts" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true" style="float: left;">
</div>

<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs&width=500&height=200&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1527092924008564" width="500" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>